 body {
     font-family: 'Raleway', sans-serif;
 }
 h1 {
     font-family: 'Oswald', sans-serif;
 }
 body {
     font-family: 'Open Sans Condensed', sans-serif;
 }
 nav {
     font-family: 'Oswald', sans-serif;
 }