.card-container {
  padding: 10px;
}
.card {
  margin: 20px;
  margin-left: 50px;
  border: 1px solid grey;
  padding: 10px;
  height: 300px;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* margin: 10px; */
}

.card a {
    text-decoration: none;

}
.card .info {
    text-align: left;
    margin: 10px;
    
}
.preview {
    height: 90%;;
    width: 100%;
    background: blueviolet;
    margin: 0;
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
  