.NavbarItems {
    background: lightseagreen;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}
.navbar-logo {
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
}
