body {
  margin: 0;
  /* overflow: hidden; */
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#vg-tooltip-element {
  font-size: 20px;
  color: #3e3c38;
}

.tick line {
  stroke: #C0C0BB;
}

.tick text {
  fill: #635f5d ;
}

.mark {
  fill :#137b80;
}
.axis-label {
  font-size: 2em;
  fill: #635f5d ;

}
.title {
  text-align: center;
  font-size: 2em;
}